.NumberInput {
    display: inline-flex;
    position: relative;
    height: min-content;

    border: 1px solid var(--subtle-default-border);
    border-radius: var(--radius-sm);
    transition: border-color 250ms, opacity 250ms;

    &:has(input:focus) {
        border-color: var(--subtle-default-border-hover);
    }

    &:has(input:focus) {
        outline: var(--focus-outline-width) solid var(--focus-outline-color);
    }


    &.disabled {
        opacity: 0.5;
        cursor: not-allowed !important;

        input {
            cursor: not-allowed !important;
        }

        button {
            pointer-events: none;
        }
    }

    &>.content {
        position: relative;

        &>.icon {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
        }

        &>input {
            background-color: transparent;
            color: inherit;
            font: inherit;
            border: 0;
            padding: 0 15px;
            outline: none;
            height: 40px;
            transition: color 250ms;

            &.isInvalidTyping {
                color: var(--warning);
            }

            /* Suppression des flèches natives du input number */
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Pour Firefox */
            -moz-appearance: textfield;
        }

        &>.clearButton {
            position: absolute;
            top: 5px;
            bottom: 5px;
            right: 5px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            transition: opacity 250ms;
            border-radius: 5px;

            &:hover {
                opacity: 1;
                background-color: (var(--subtle-default-background));
            }
        }
    }



    &.hasError {
        border-color: var(--error) !important;
    }

    &.hasWarning {
        border-color: var(--warning) !important;
    }


    &.size-sm {
        input {
            height: 30px;
            padding: 0 10px;
            font-size: 14px;

            &.withIcon {
                padding-left: 30px;
            }
        }

    }

    &.size-md {
        input {
            height: 35px;
            padding: 0 15px;
            font-size: 14px;

            &.withIcon {
                padding-left: 35px;
            }
        }

    }

    &.size-lg {
        input {
            height: 40px;
            padding: 0 15px;
            font-size: 15px;

            &.withIcon {
                padding-left: 30px;
            }
        }
    }

    &>.buttons {
        &>button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.errorMessage {
    color: var(--error);
    font-size: 12px;
    margin-top: 5px;
}