.Code {
    background-color: var(--subtle-default-background);
    display: block;
    padding: 10px;
    border-radius: 5px;
    white-space: pre;
    font-family: var(--font-mono);
    font-size: 13px;
}