.Box {
    overflow: hidden;
    --padding: var(--spacing-md);

    &.padding-none {
        --padding: 0;
    }

    &.padding-sm {
        --padding: var(--spacing-sm);
    }

    &.padding-lg {
        --padding: var(--spacing-lg);
    }

    &.padding-xl {
        --padding: var(--spacing-xl);
    }

    padding: var(--padding);


    --radius: var(--radius-md);

    &.radius-none {
        --radius: 0;
    }

    &.radius-sm {
        --radius: var(--radius-sm);
    }

    &.radius-md {
        --radius: var(--radius-md);
    }

    &.radius-lg {
        --radius: var(--radius-lg);
    }

    &.radius-xl {
        --radius: var(--radius-xl);
    }

    border-radius: var(--radius);


    &.align-start {
        align-items: flex-start;
    }

    &.align-center {
        align-items: center;
    }

    &.align-end {
        align-items: flex-end;
    }
}