.Image {
    object-fit: cover;
    max-width: 100%;

    &.radius-xs {
        border-radius: var(--radius-xs);
    }

    &.radius-sm {
        border-radius: var(--radius-sm);
    }

    &.radius-md {
        border-radius: var(--radius-md);
    }

    &.radius-lg {
        border-radius: var(--radius-lg);
    }

    &.radius-xl {
        border-radius: var(--radius-xl);
    }

}