.InputContainer {
    display: inline-block;
    position: relative;
    flex: 1;

    &>.StartAddon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: rgb(var(--foreground), 0.5);
    }

    &>.EndAddon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: rgb(var(--foreground), 0.5);
    }
}

.Input {
    border-radius: 5px;
    transition: background-color 250ms, border-color 250ms, outline-color 250ms;
    background-color: transparent;
    font: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
    color: inherit;
    box-sizing: border-box;
    border: 0;
    outline: 2px solid transparent;
    width: 100%;


    height: var(--height);
    padding: 0 var(--padding-h);
    outline: none;


    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.variant-outline {
        border: 1px solid var(--subtle-default-border);

        &:focus {
            border-color: var(--subtle-default-border-hover);
        }
    }

    &.variant-subtle {
        background-color: var(--subtle-default-background);

        &:focus {
            background-color: var(--subtle-default-background-hover);
        }

    }

    &.variant-flushed {
        padding: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--subtle-default-border);

        &:focus {
            border-color: var(--subtle-default-border-hover);
        }
    }

    &.withStartAddon {
        padding-left: 15px;
    }

    &.withEndAddon {
        padding-right: 15px;
    }
}