.Field {

    margin: 10px 0; // TODO

    &>.label {
        margin-bottom: 5px;
        font-size: var(--label-font-size);
        font-weight: var(--label-font-weight);
        color: rgb(var(--label-color));

        // text-transform: uppercase;
        opacity: 0.7;
        font-size: 12px;
        font-weight: 400;
    }
}