.Tag {
    display: inline-flex;
    background-color: rgb(white, 0.1);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    align-items: center;
    gap: 3px;
    font-weight: 500;

    &>svg {
        height: 12px;
        width: 12px;
    }
}