@use '@ui/core/theming.scss' as *;
@use '@ui/core/reset.scss';
@use '@ui/core/default.scss' as *;

// $foreground: rgb(9, 9, 9);
$foreground: #131313;
$background: rgb(255, 255, 255);

$theme-colors: (
  'primary': rgb(57, 118, 188),
  'success': rgb(52, 167, 100),
  'warning': rgb(207, 150, 44),
  'error': rgb(231, 76, 60),
  'default': $foreground,
);

$dark-theme-colors: (
  'primary': rgb(56, 101, 153),
  'success': rgb(51, 134, 86),
  'warning': rgb(168, 126, 48),
  'error': rgb(201, 74, 60),
  'default': $background,
);

$theme-options: (
  'tinted': true,
  'subtle-bg-weight': 15%,
  'subtle-bg-hover-weight': 30%,
  'subtle-border-weight': 30%,
  'subtle-border-hover-weight': 60%,
  'tint-lightness-adjustment': -20%
);

$dark-theme-options: (
  'tinted': true,
  'subtle-bg-weight': 10%,
  'subtle-bg-hover-weight': 30%,
  'subtle-border-weight': 40%,
  'subtle-border-hover-weight': 70%,
  'tint-lightness-adjustment': -10%
);


html {
  --light: rgb(255, 255, 255);
  --dark: #131313;

  @include generate-palette($theme-colors, $foreground, $background, $theme-options);
  @include default-sizes;

  @media (prefers-color-scheme: dark) {
    &:not(.light) {
      @include generate-palette($dark-theme-colors, $background, $foreground, $dark-theme-options);

      --foreground: rgb(255, 255, 255);
      --background: var(--dark);
    }
  }

  &.dark {
    @include generate-palette($dark-theme-colors, $background, $foreground, $dark-theme-options);

    --foreground: var(--light);
    --background: var(--dark);
  }
}

body {
  font-size: 14px;
  color: var(--foreground);

  h2 {
    margin: 40px 0 10px 0
  }
}