.Text {
    &.format-uppercase {
        text-transform: uppercase;
    }

    &.format-lowercase {
        text-transform: lowercase;
    }

    &.format-capitalize {
        text-transform: capitalize;
    }
}